//- client/videoplayer.js연결

extends base

block content
    //- 비디오컨트롤러에서 const video = await Video.findById(id);로 db에서 video를 찾은다음 
    //- 그 비디오를 video변수로 보내고 있음
    //- return res.render("watch", { pageTitle: video.title, video });
    //- id(#)부여하고 client-js-videoPlayer.js로 감
    
    //- https://developer.mozilla.org/ko/docs/Learn/HTML/Howto/Use_data_attributes
    //- data-로 시작하는 이름으로 어떤 데이터든지 저장할 수 있음
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currenTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div
                span#fullScreen
                    i.fas.fa-expand  
    div.video__data
        p.video__title=video.title
        br
        small.video__owner Uploaded by 
            a(href=`/users/${video.owner._id}`)=video.owner.name
            br
        small.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
        br
        if String(video.owner._id) === String(loggedInUser._id)
            a(href=`${video.id}/edit`) Edit Video &rarr;
            a(href=`${video.id}/delete`) Delete Video &rarr;      

    
        //- div
        //-     p=video.description
        //-     small=video.createdAt
        //- div
        //-     small Uploaded by 
        //-         a(href=`/users/${video.owner._id}`)=video.owner.name
        //-         //- 영상 owner의 id와 로그인된 사람의 id가 일치하면 로그인된 사용자가 이 영상의 주인
        //-         //- 로그인된 사람의 id는 미들웨어에서 알려줌 res.locals.loggedInUser = req.session.user || {};
        //- if String(video.owner._id) === String(loggedInUser._id)
        //-     a(href=`${video.id}/edit`) Edit Video &rarr;
        //-     br
        //-     a(href=`${video.id}/delete`) Delete Video &rarr;
block scripts
    //- static url로 가면, 유저에게 assets 풀더를 접근할 수 있는 권한을 준다
    //- server.js app.use("/static", express.static("assets"));
    script(src="/static/js/videoPlayer.js") 
